*{
    margin: 0;
    padding: 0;
}

body {
    background-color: lightblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    padding: 10px;
    background-color: black;
    text-align: center;
    padding-bottom: 40px;
    color: magenta;
    padding: 20px 20px;
    border-bottom: 2px solid blueviolet;
}

h2{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 40px;
    color: magenta;
    padding: 20px 20px;
    border-bottom: 2px solid blueviolet;
    background-color:black;
}

.logout{
    font-size: x-large;
    border-radius: 10px;
    font-weight: bold;
    color : magenta;
    background-color: black;
    margin-left: 870px;
    font-style: italic;
}

.sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: black;
    width: 250px;
}

li{
    list-style: none;
    padding: 20px 20px;
    border-bottom: 2px solid blueviolet ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
    border-right-width: 0px ;
    width: 200px;
}

nav{
    height: 100vh;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 140px;
    background-color: rgb(39, 39, 39);
    overflow: auto;
    height: 100%;
}

.links {
    display: block;
    color: rgb(178, 137, 253);
    text-decoration: none;
    font-size: 17px;
}

li:hover {
    background-color: blue;
}

button{
    font-size: large;
    border-radius: 20px;
    font-weight: bold;
    background-color: magenta;
}

.deletebtn{
    font-size: x-large;
    margin-top: 80px;
    color : black;
    margin-left: 300px;
}

.addbtn{
    font-size: x-large;
    margin-top: 80px;
    color : black;
    margin-left: 350px;
}

.editbtn{
    font-size: x-large;
    margin-top: 80px;
    color : black;
    margin-left: 400px;
}

table{
    font-size: x-large;
    margin-top: 50px;
    color : black;
    margin-left: 300px;
    background-color: magenta;
}

th{
    color:maroon;
    padding-left: 50px;
    padding-right: 50px;
}

td{
    color:black;
    padding-left: 50px;
    padding-right: 50px;
}