<html>

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/admin.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Original+Surfer&family=Zen+Dots&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./js/admin.js"></script>
</head>

<body>
    <div><h1>Welcome to Admin Page</h1></div>

    <div class="header">
        <h2><span><i class="fa fa-globe" aria-hidden="true"></i></span> Global connect <span><button class="logout">Logout</button></span></h2>
    </div>
    <div id="sidebar">
        <ul>
            <li><span class="fa fa-home" aria-hidden="true"></i></span><button id="sideHome">HOME</button></li>
            <li><span><i class="fa fa-lock" aria-hidden="true"></i></span><button id="sideAdmin">ADMIN</button></li>
            <li><span><i class="fa fa-user" aria-hidden="true"></i></span><button>VENDOR</button></li>
            <li><span><i class="fa fa-product-hunt" aria-hidden="true"></i></span><button>PRODUCT</button></li>
            <li><span><i class="fa fa-adn" aria-hidden="true"></i></span><button>AD</button></li>
        </ul>
    </div>
    <div>
        <span>
        <input type="button" value="Delete" class="deletBtn">
        <input type="button" value="Add Admin" class="adminBtn">
        <input type="button" value="Edit" class="editBtn">
        </span>
    </div>
    <div class="details">
        <p></p>

    </div>
</body>

</html>