<html>

    <head>
        <title>Registration</title>
        <link rel="stylesheet" href="./css/forgot.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/js/forgot.js"></script>
    </head>

    <body>
        <fieldset>
            <legend>FORGOT PASSWORD</legend>
            <label>User name : </label>
            <input type="text" id=username><br><br>
            <label>New password: </label>
            <input type="password" id="password"><br><br>
            <label>Confirm Password</label>
            <input type="password" id="confirmpwd"><br><br>
            <input type="checkbox" id="showpwd"><b>Show password</b><br><br>
            <button id="resetBtn">Reset</button><br><br>
        </fieldset>
    </body>

</html>