<html>

    <head>
        <title>Registration</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/js/forgotpwd.js"></script>
    </head>

    <body>
        <fieldset>
        <legend>FORGOT PASSWORD PAGE</legend>
        <label>User name : </label>
        <input type="text" id=username><br><br>
        <label>New password: </label>
        <input type="password" id="password"><br><br>
        <label>Confirm Password</label>
        <input type="password" id="confirmpwd"><br><br>
        <button id="btn">Reset</button><br><br>
        </fieldset>
    </body>

</html>