<html>
    <head>
        <title>HOME PAGE</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/public/js/home.js"></script>
    </head>
    <body>
        <div class="sidenav">
            <a href="#home">Home</a>
            <a href="#Admin">Admin</a>
            <a href="#vendor">Vendor</a>
            <a href="#user">User</a>
            <a href="#product">Product</a>
            <a href="#ad">Ad</a>
        </div>
    </body>
</html>