<html>
    <head>
        <title>Login</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/js/login.js"></script>
        <link rel="stylesheet" href="/public/css/login.css">
    </head>
    <body>
        <fieldset>
            <legend>LOGIN PAGE</legend>
            <label>User name : </label>
            <input type="text" id=userName><br><br>
            <label>Password : </label>
            <input type="password" id="password"><br><br>
            <input type="checkbox" id="showpwd">
            <label>Show password</label><br><br>
            <input type="checkbox" id="rememberme">
            <label>Remember me</label><br><br>
            <button>Login</button><br><br>
            <button id="forgot">Forgot Password</button>
            <button id="registration">Registration</button>
        </fieldset>
    </body>
</html>