<html>
    <head>
        <title>Registration</title>
    </head>
    <body>
        <label>User name: </label>
        <input type="text" id="username"><br><br>
        <label>Password</label>
        <input type="password" id="password"><br><br>
        <label>Re-enter password</label>
        <input type="password" id="repassword"><br><br>
        <button type="submit" id="regbtn">Register</button><br><br>
        <a href="http://localhost:3000/login">Back to login page
    </body>
</html>