<html>
    <head>
        <title>Registration</title>
        <link rel="stylesheet" href="./css/register.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="./js/register.js"></script>
    </head>
    <body>
        <div> 
            <label>User name: </label>
            <input type="text" id="username"><br><br>
            <label>Password: </label>
            <input type="password" id="password"><br><br>
            <label>Re-enter password: </label>
            <input type="password" id="repassword"><br><br>
            <input type="checkbox" id="showpwd"><b>Show password</b><br><br>
            <button type="submit" id="regBtn">Register</button><br><br>
            <a class="link" href="http://localhost:3000/login">Back to login page
        </div>
    </body>
</html>